<!DOCTYPE html>
<html>
    <head>
        <title>All for sight</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="css/uikit.min.css" />
        <link rel="stylesheet" href="css/main.css" />
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
    </head>
    <body>
        <header class="top">
            <div class="uk-height-medium uk-text-center" uk-grid>
                <div class="uk-width-1-4 uk-padding-small">
                    <img src="img/logo.png" alt="" width="150">
                </div>
                <div class="uk-width-3-4 uk-padding-small">
                    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

                        <div class="uk-navbar-right">

                            <ul class="uk-navbar-nav">
                                <li class=""><a href="#">Accueil</a></li>
                                <li class=""><a href="#">Comment ça Marche</a></li>
                                <li class=""><a href="#">Dictionnaire</a></li>
                                <li class=""><a href="#">Forum</a></li>
                                <li>
                                    <a href="#">Nos Centres</a>
                                    <div class="uk-navbar-dropdown">
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-active"><a href="#">Active</a></li>
                                            <li><a href="#">Item</a></li>
                                            <li><a href="#">Item</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#">Espace Membre</a></li>
                                <li><a href="#" class="circle_icone first"><span uk-icon="search"></span></a></li>
                                <li><a href="#" class="circle_icone"><span uk-icon="menu"></span></a></li>
                            </ul>

                        </div>

                    </nav>

                </div>
            </div>
        </header>

        <main class="">
            <section class="wrap_slider uk-container uk-container-large">
                <!--<div uk-grid>
                    <div class="uk-width-2-3">
                        <img src="img/slide.png" alt="" class="slide_img">
                    </div>
                    <div class="uk-width-1-3 slider_zone_texte" >
                        <span>Le site des ophtalmologistes de la Côte d'Ivoire</span><br>
                        <span>Une plateforme optimisée</span><br>
                        <span>Pour tout savoir sur l'ophtalmologie : l'oeil, la vue
                        les maladies et traitements des yeux, le daltonisme
                        le Braille, les lunettes, l'oeil dans l'art, les illusions
                        d'optique, les stéréogrammes, les mirages...
                        </span>
                        <p>VOIR PLUS</p>
                    </div>
                </div>-->

                <div class="uk-position-relative uk-visible-toggle uk-light home_slide" uk-slideshow="animation: slide; autoplay: true; finite: true">

                    <ul class="uk-slideshow-items">
                        <li>
                            <div uk-grid>
                                <div class="uk-width-2-3">
                                    <img src="img/slide.png" alt="" class="slide_img" width="100%">
                                </div>
                                <div class="uk-width-1-3 slider_zone_texte" >
                                    <span>Le site des ophtalmologistes de la Côte d'Ivoire</span><br>
                                    <span>Une plateforme optimisée</span><br>
                                    <span>Pour tout savoir sur l'ophtalmologie : l'oeil, la vue
                                    les maladies et traitements des yeux, le daltonisme
                                    le Braille, les lunettes, l'oeil dans l'art, les illusions
                                    d'optique, les stéréogrammes, les mirages...
                                    </span>
                                    <p>VOIR PLUS</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div uk-grid>
                                <div class="uk-width-2-3">
                                    <img src="img/slide.png" alt="" class="slide_img" width="100%">
                                </div>
                                <div class="uk-width-1-3 slider_zone_texte" >
                                    <span>Le site des ophtalmologistes de la Côte d'Ivoire</span><br>
                                    <span>Une plateforme optimisée</span><br>
                                    <span>Pour tout savoir sur l'ophtalmologie : l'oeil, la vue
                                    les maladies et traitements des yeux, le daltonisme
                                    le Braille, les lunettes, l'oeil dans l'art, les illusions
                                    d'optique, les stéréogrammes, les mirages...
                                    </span>
                                    <p>VOIR PLUS</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div uk-grid>
                                <div class="uk-width-2-3">
                                    <img src="img/slide.png" alt="" class="slide_img" width="100%">
                                </div>
                                <div class="uk-width-1-3 slider_zone_texte" >
                                    <span>Le site des ophtalmologistes de la Côte d'Ivoire</span><br>
                                    <span>Une plateforme optimisée</span><br>
                                    <span>Pour tout savoir sur l'ophtalmologie : l'oeil, la vue
                                    les maladies et traitements des yeux, le daltonisme
                                    le Braille, les lunettes, l'oeil dans l'art, les illusions
                                    d'optique, les stéréogrammes, les mirages...
                                    </span>
                                    <p>VOIR PLUS</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div uk-grid>
                                <div class="uk-width-2-3">
                                    <img src="img/slide.png" alt="" class="slide_img" width="100%">
                                </div>
                                <div class="uk-width-1-3 slider_zone_texte" >
                                    <span>Le site des ophtalmologistes de la Côte d'Ivoire</span><br>
                                    <span>Une plateforme optimisée</span><br>
                                    <span>Pour tout savoir sur l'ophtalmologie : l'oeil, la vue
                                    les maladies et traitements des yeux, le daltonisme
                                    le Braille, les lunettes, l'oeil dans l'art, les illusions
                                    d'optique, les stéréogrammes, les mirages...
                                    </span>
                                    <p>VOIR PLUS</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div uk-grid>
                                <div class="uk-width-2-3">
                                    <img src="img/slide.png" alt="" class="slide_img" width="100%">
                                </div>
                                <div class="uk-width-1-3 slider_zone_texte" >
                                    <span>Le site des ophtalmologistes de la Côte d'Ivoire</span><br>
                                    <span>Une plateforme optimisée</span><br>
                                    <span>Pour tout savoir sur l'ophtalmologie : l'oeil, la vue
                                    les maladies et traitements des yeux, le daltonisme
                                    le Braille, les lunettes, l'oeil dans l'art, les illusions
                                    d'optique, les stéréogrammes, les mirages...
                                    </span>
                                    <p>VOIR PLUS</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div uk-grid>
                                <div class="uk-width-2-3">
                                    <img src="img/slide.png" alt="" class="slide_img" width="100%">
                                </div>
                                <div class="uk-width-1-3 slider_zone_texte" >
                                    <span>Le site des ophtalmologistes de la Côte d'Ivoire</span><br>
                                    <span>Une plateforme optimisée</span><br>
                                    <span>Pour tout savoir sur l'ophtalmologie : l'oeil, la vue
                                    les maladies et traitements des yeux, le daltonisme
                                    le Braille, les lunettes, l'oeil dans l'art, les illusions
                                    d'optique, les stéréogrammes, les mirages...
                                    </span>
                                    <p>VOIR PLUS</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    
                    <div class="home_slide_nav uk-text-center">
                        <a href="#" uk-slideshow-item="previous"><i class="fas fa-chevron-left"></i></a>                        

                        <ul class="uk-padding-remove">
                            <li uk-slideshow-item="0"><a href="#"></a></li>
                            <li uk-slideshow-item="1"><a href="#"></a></li>
                            <li uk-slideshow-item="2"><a href="#"></a></li>
                            <li uk-slideshow-item="3"><a href="#"></a></li>
                            <li uk-slideshow-item="4"><a href="#"></a></li>
                            <li uk-slideshow-item="5"><a href="#"></a></li>
                        </ul>

                        <a href="#" uk-slideshow-item="next"><i class="fas fa-chevron-right"></i></a>

                    </div>

                </div>
            </section>

            <section class="all_4_sight uk-container uk-container-large">
                <div  uk-grid>
                    <div class="uk-width-1-2 uk-padding-large uk-text-center uk-margin-large-top" uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.5;">
                        <img data-src="img/o_o.png" width="60%" height="" alt="" uk-img>
                        <p class="uk-text-uppercase uk-text-large text_big"><span class="uk-text-bold">ALL</span> FOR SIGHT</p>
                        <p class="uk-margin-large-left uk-margin-large-right uk-text-left uk-text-italic">est une application professionnelle pour les spécialistes<br>
                        des soins oculaires à utiliser pour les tests de vision de<br>
                        près! </p>
                        <p class="uk-margin-large-left uk-margin-large-right uk-text-left uk-text-italic">Donnez le meilleur soin avec <br>
                        16 INTERACTIVE, des examens oculaires précise et simple <br>
                        de vos patients.</p>
                    </div>
                    <div class="uk-width-1-2 uk-padding-large uk-text-center" >
                        <img data-src="img/iphone2.png" width="100%" height="" alt="" class="" uk-img>
                    </div>
                </div>                
            </section>
            <section class="top_canvas_white">
                <div><img src="img/top_canvas_white.png" alt="" width="100%"></div>
            </section>

            <section class="about ">
                <div class="_uk-container _uk-container-large ">
                    <div class="uk-height-max-large"  uk-grid>
                        <div class="uk-width-1-2 bg_blue_clear uk-height-1-1">
                            <p class="uk-text-uppercase uk-text-large text_big uk-text-center"><span class="uk-text-bold">COMMENT</span><br>CA MARCHE</p>
                            <p class="uk-margin-large-left uk-margin-large-right uk-text-left ">Après l’ouverture du dossier, en général réalisé par le secrétariat du médecin : 

                            identification du patient et recueil des différentes coordonnées de celui ci
                            la consultation démarre par un interrogatoire permettant de relever les
                            antécédents familiaux et personnels du patient, en particulier dans
                            le domaine ophtalmologique. L’objet de la consultation est alors bien
                            sûr précisé.</p>
                        </div>
                        <div class="uk-width-1-2 " >
                        </div>
                    </div>
                </div>
            </section>

            <section class="dictionnaire">
                <div class="_uk-container _uk-container-large ">
                    <div class="uk-height-max-large"  uk-grid>
                        <div class="uk-width-2-3 uk-height-1-1">
                            <img data-src="img/notebook.png" width="" height="" alt="" class="img_notebook" uk-img>
                        </div>
                        <div class="uk-width-1-3 uk-padding-large" >
                            <h2>DICTIONNAIRE</h2>
                            <p class="uk-text-italic">la consultation démarre par un interrogatoire permettant
                            de relever les antécédents familiaux et personnels
                            du patient, en particulier dans le domaine ophtalmologique. </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="forum">
                <div class="uk-padding-small">FORUM</div>
                <div class="uk-text-center" >
                    <div class="uk-container uk-container-small">
                        <h2 class="uk-padding-small">Ophtalmologie</h2>
                        <div class="wrap_forum"  uk-grid>
                            <div class="uk-width-2-3 uk-text-left" >
                                <img src="img/pp.png" alt="" class="pp"><div class="uk-padding-small bulle_message bulle_left">iciendis nulla laborum dolorem nemo ullam ipsam!</div>
                            </div>
                            <div class="uk-width-1-3" style="">
                            </div>

                            <div class="uk-width-1-3" style="">
                            </div>
                            <div class="uk-width-2-3 uk-text-right " >
                                <div class="uk-padding-small bulle_message bulle_right uk-text-left">loribus laboriosam ipsam praesentium laudantium, deleniti dolorem deserunt.</div><img src="img/pp.png" alt="" class="pp">
                            </div>

                            <div class="uk-width-1-3" style="">
                            </div>
                            <div class="uk-width-2-3 uk-text-right " >
                                <div class="uk-padding-small bulle_message bulle_right uk-text-left">modi cumque ex, corporis nulla suscipit laboriosam magnam architecto.</div><img src="img/pp.png" alt="" class="pp">
                            </div>
                            
                            <div class="uk-width-2-3 uk-text-left" >
                                <img src="img/pp.png" alt="" class="pp"><div class="uk-padding-small bulle_message bulle_left">tas quo nobis voluptatum fugit. Atque architecto consequuntur iste dicta.</div>
                            </div>
                            <div class="uk-width-1-3" style="">
                            </div>

                        </div>     
                    </div>                        
                </div>
            </section>

            <section class="top_canvas_gray">
                <div><img src="img/top_canvas_gray.png" alt="" width="100%"></div>
            </section>

            <section class="zone_map" >

                <div class="map" id="map"></div>


                
            </section>

            <section class="docteur">
                    <div class="uk-height-max-large uk-text-center"  uk-grid>
                        <div class="uk-width-1-3 uk-height-1-1 uk-text-left bottom_menu uk-padding-remove-left">
                            
                        </div>
                        <div class="uk-width-1-3 uk-height-1-1">
                            
                        </div>
                        <div class="uk-width-1-3 uk-height-1-1 bottom_menu uk-text-right uk-padding-remove-left">
                            <img data-src="img/docteur.png" width="100%" height="" alt="" class="map_docteur" uk-img>
                        </div>
                    </div>
                </section>
            
            
        </main>

        <footer>

            <section class="inner_footer uk-container uk-container-large uk-padding-large uk-padding-remove-bottom">
                <div class="uk-height-max-large uk-text-center"  uk-grid>
                    <div class="uk-width-1-3 uk-height-1-1 uk-text-left bottom_menu uk-padding-remove-left">
                        <div>
                            <div>Consultation</div>
                            <ul class="uk-list uk-padding-small uk-margin-remove liste_menu">
                                <li><a href="">Recherche avancée</a></li>
                                <li><a href="">Offres par région</a></li>
                                <li><a href="">Offres par fonction</a></li>
                                <li><a href="">Offres par secteur d'activité</a></li>
                                <li><a href="">Rss</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="uk-width-1-3 uk-height-1-1">
                        <img src="img/logo_white.png" alt="" width="_100%">
                    </div>
                    <div class="uk-width-1-3 uk-height-1-1 bottom_menu uk-text-right uk-padding-remove-left">
                        <div class="uk-padding-small">
                            <div>CONTACTEZ-NOUS SUR</div>
                            <a href="" class="footer_icone"><span uk-icon="facebook"></span></a>
                            <a href="" class="footer_icone"><span uk-icon="twitter"></span></a>
                            <a href="" class="footer_icone"><span uk-icon="google-plus"></span></a>
                            <a href="" class="footer_icone"><span uk-icon="youtube"></span></a>
                            <a href="" class="footer_icone"><span uk-icon="instagram"></span></a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="credit uk-text-center uk-padding-small">Application professionnelle pour les spécialistes</section>

        </footer>
        <script>
            styles: [
                      {elementType: 'geometry', stylers: [{color: '#ebe3cd'}]},
                      {elementType: 'labels.text.fill', stylers: [{color: '#523735'}]},
                      {elementType: 'labels.text.stroke', stylers: [{color: '#f5f1e6'}]},
                      {
                        featureType: 'administrative',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#c9b2a6'}]
                      },
                      {
                        featureType: 'administrative.land_parcel',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#dcd2be'}]
                      },
                      {
                        featureType: 'administrative.land_parcel',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#ae9e90'}]
                      },
                      {
                        featureType: 'landscape.natural',
                        elementType: 'geometry',
                        stylers: [{color: '#dfd2ae'}]
                      },
                      {
                        featureType: 'poi',
                        elementType: 'geometry',
                        stylers: [{color: '#dfd2ae'}]
                      },
                      {
                        featureType: 'poi',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#93817c'}]
                      },
                      {
                        featureType: 'poi.park',
                        elementType: 'geometry.fill',
                        stylers: [{color: '#a5b076'}]
                      },
                      {
                        featureType: 'poi.park',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#447530'}]
                      },
                      {
                        featureType: 'road',
                        elementType: 'geometry',
                        stylers: [{color: '#f5f1e6'}]
                      },
                      {
                        featureType: 'road.arterial',
                        elementType: 'geometry',
                        stylers: [{color: '#fdfcf8'}]
                      },
                      {
                        featureType: 'road.highway',
                        elementType: 'geometry',
                        stylers: [{color: '#f8c967'}]
                      },
                      {
                        featureType: 'road.highway',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#e9bc62'}]
                      },
                      {
                        featureType: 'road.highway.controlled_access',
                        elementType: 'geometry',
                        stylers: [{color: '#e98d58'}]
                      },
                      {
                        featureType: 'road.highway.controlled_access',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#db8555'}]
                      },
                      {
                        featureType: 'road.local',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#806b63'}]
                      },
                      {
                        featureType: 'transit.line',
                        elementType: 'geometry',
                        stylers: [{color: '#dfd2ae'}]
                      },
                      {
                        featureType: 'transit.line',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#8f7d77'}]
                      },
                      {
                        featureType: 'transit.line',
                        elementType: 'labels.text.stroke',
                        stylers: [{color: '#ebe3cd'}]
                      },
                      {
                        featureType: 'transit.station',
                        elementType: 'geometry',
                        stylers: [{color: '#dfd2ae'}]
                      },
                      {
                        featureType: 'water',
                        elementType: 'geometry.fill',
                        stylers: [{color: '#b9d3c2'}]
                      },
                      {
                        featureType: 'water',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#92998d'}]
                      }
                    ]
        </script>
        <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>-->
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCYPalzo44T2JcLx0Ceju2OYhuw-QF93s0"></script>
        
        <script type="text/javascript">
            // When the window has finished loading create our google map below
            google.maps.event.addDomListener(window, 'load', init);
        
            function init() {
                // Basic options for a simple Google Map
                // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
                var mapOptions = {
                    // How zoomed in you want the map to start at (always required)
                    zoom: 11,

                    // The latitude and longitude to center the map (always required)
                    center: new google.maps.LatLng(40.6700, -73.9400), // New York

                    // How you would like to style the map. 
                    // This is where you would paste any style found on Snazzy Maps.
                    styles: [
                      {elementType: 'geometry', stylers: [{color: '#ebe3cd'}]},
                      {elementType: 'labels.text.fill', stylers: [{color: '#523735'}]},
                      {elementType: 'labels.text.stroke', stylers: [{color: '#f5f1e6'}]},
                      {
                        featureType: 'administrative',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#c9b2a6'}]
                      },
                      {
                        featureType: 'administrative.land_parcel',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#dcd2be'}]
                      },
                      {
                        featureType: 'administrative.land_parcel',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#ae9e90'}]
                      },
                      {
                        featureType: 'landscape.natural',
                        elementType: 'geometry',
                        stylers: [{color: '#dfd2ae'}]
                      },
                      {
                        featureType: 'poi',
                        elementType: 'geometry',
                        stylers: [{color: '#dfd2ae'}]
                      },
                      {
                        featureType: 'poi',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#93817c'}]
                      },
                      {
                        featureType: 'poi.park',
                        elementType: 'geometry.fill',
                        stylers: [{color: '#a5b076'}]
                      },
                      {
                        featureType: 'poi.park',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#447530'}]
                      },
                      {
                        featureType: 'road',
                        elementType: 'geometry',
                        stylers: [{color: '#f5f1e6'}]
                      },
                      {
                        featureType: 'road.arterial',
                        elementType: 'geometry',
                        stylers: [{color: '#fdfcf8'}]
                      },
                      {
                        featureType: 'road.highway',
                        elementType: 'geometry',
                        stylers: [{color: '#f8c967'}]
                      },
                      {
                        featureType: 'road.highway',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#e9bc62'}]
                      },
                      {
                        featureType: 'road.highway.controlled_access',
                        elementType: 'geometry',
                        stylers: [{color: '#e98d58'}]
                      },
                      {
                        featureType: 'road.highway.controlled_access',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#db8555'}]
                      },
                      {
                        featureType: 'road.local',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#806b63'}]
                      },
                      {
                        featureType: 'transit.line',
                        elementType: 'geometry',
                        stylers: [{color: '#dfd2ae'}]
                      },
                      {
                        featureType: 'transit.line',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#8f7d77'}]
                      },
                      {
                        featureType: 'transit.line',
                        elementType: 'labels.text.stroke',
                        stylers: [{color: '#ebe3cd'}]
                      },
                      {
                        featureType: 'transit.station',
                        elementType: 'geometry',
                        stylers: [{color: '#dfd2ae'}]
                      },
                      {
                        featureType: 'water',
                        elementType: 'geometry.fill',
                        stylers: [{color: '#b9d3c2'}]
                      },
                      {
                        featureType: 'water',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#92998d'}]
                      }
                    ]
                };

                // Get the HTML DOM element that will contain your map 
                // We are using a div with id="map" seen below in the <body>
                var mapElement = document.getElementById('map');

                // Create the Google Map using our element and options defined above
                var map = new google.maps.Map(mapElement, mapOptions);

                // Let's also add a marker while we're at it
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(40.6700, -73.9400),
                    map: map,
                    title: 'Snazzy!'
                });
            }
        </script>
    </body>
</html>